<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" id="WebApp_ID" version="5.0">
  <display-name>Tuan06_Bai06_JSPs</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>GiangVienServlet</display-name>
    <servlet-name>GiangVienServlet</servlet-name>
    <servlet-class>controllers.GiangVienServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GiangVienServlet</servlet-name>
    <url-pattern>/listGV</url-pattern>
  </servlet-mapping>
</web-app>