<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Indwx</title>
</head>
<body>

    <a th:href="@{/customers}"> DS Customer</a>
    <br>
    <a th:href="@{/add_customer}"> Add Customer</a>
    <br>
    <a th:href="@{/customers/year2000}"> DS =2000</a>
    <br>

    <a th:href="@{/account/find}"> tim so du</a>
</body>
</html>