<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<h1>Report 1</h1>
<form th:action="@{/account/findwith}" method="get">
    Min
    <input type="number" name="min">
    Max
    <input type="number" name="max">
    <input type="submit" value="submit">
</form>

<table>
    <thead>
    <tr>
        <th>Account ID</th>
        <th>Balance</th>
        <th>Customer name</th>
        <th>Status</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="c : ${LISTAC}">
        <td th:text="${c.id}"></td>
        <td th:text="${c.balance}"></td>
        <td th:text="${c.customer.name}"></td>
        <td th:text="${c.status}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>