<!DOCTYPE html>
<html lang="en">
<style>
    div.inline {
        color: black;
        float: left;padding: 5px 5px;
        text-decoration: none;
        display: inline-block;
    }
    div.inline a.active {
        background-color: #FBD603;
        border:1px solid darkred;
    }
</style>
<head>
    <meta charset="UTF-8">
    <title>Candidates with pagination</title>
    <meta charset="UTF-8">
    <title>Candidates</title>
    <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-
T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
            crossorigin="anonymous">
    <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-
C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
            crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<h1 class="text-center">LIST CANDIDATES</h1>
<table class="table table-hover">
    <thead>
    </thead>
    <tbody>
    <tr th:each="candidate, iStat : ${candidatePage.content}"
        th:style="${iStat.odd}? 'font-weight: bold;'"
        th:alt-title="${iStat.even}? 'even' : 'odd'">
        <td th:text="${candidate.id}"></td>
        <td th:text="${candidate.fullName}"></td>
        <td th:text="${candidate.dob}"></td>
        <td th:text="${candidate.address.getAddress()}"></td>
        <td th:text="${candidate.phone}"></td>
        <td th:text="${candidate.email}"></td>
        <td><a th:href="@{/edit/{id}(id=${candidate.id})}">Edit</a></td>
        <td><a th:href="@{/delete/{id}(id=${candidate.id})}">Delete</a></td>
    </tr>
    </tbody>
</table>
<div class="inline" th:if="${candidatePage.totalPages > 0}" th:each="pageNumber :
${pageNumbers}">
    <a th:href="@{/candidates(size=${candidatePage.size}, page=${pageNumber})}"
       th:text="${pageNumber}"
       th:class="${pageNumber==candidatePage.number + 1} ? active"></a>
</div>
<br/>
<!--<div class = "row"><a href="/add-candidate">Add a new Candidate</a></div>-->
</body>
</html>