<html>
  <head>
    <title>IUH Bookstore</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />
    <style>
      body {
        font-family: Arial, sans-serif;
      }
    </style>
  </head>
  <body class="bg-gray-200">
    <div class="bg-gray-800 p-4 text-white text-center text-xl">
      IUH BOOKSTORE
    </div>
    <div class="bg-gray-400 p-2 flex justify-between items-center text-white">
      <div class="flex gap-4">
        <a href="#" class="hover:text-gray-200">HOME</a>
        <a href="#" class="hover:text-gray-200">EXAMPLES</a>
        <a href="#" class="hover:text-gray-200">SERVICES</a>
        <a href="#" class="hover:text-gray-200">PRODUCTS</a>
        <a href="#" class="hover:text-gray-200">CONTACT</a>
      </div>
    </div>
    <div class="p-4 grid grid-cols-4 gap-4">
      <div class="bg-white p-4 ">
        <h2 class="font-bold mb-2">ABOUT US</h2>
        <p>
          About us information will be here....
          <a href="#" class="text-blue-600">Read More »</a>
        </p>
        <h2 class="font-bold mt-4 mb-2">SEARCH SITE</h2>
        <input type="text" class="border p-1 w-full" />
        <p class="mt-4">Shopping cart (4)</p>
      </div>


    </div>
  </body>
</html>
